node_modules
# Bloqueia toda a pasta docs por padrão
docs/**
# Reabre a pasta para permitir exceções pontuais
!docs/
# Arquivos permitidos para versionamento
!docs/arquitetura.md
!docs/metodologia_e_evidencias_petconecta.docx
!docs/riscos-e-mitigacoes.md
!docs/modelagem-site.md
!docs/diagrama-metodologia-extensionista.md
*.log
*.xlsx
*.xls
src/routers/serviceAccountKey.json
# Arquivo com chaves reais do Firebase
js/firebase-config.js

# Variáveis de ambiente locais (caso use Node/Vite/Webpack no futuro)
.env
.env.local
.env.development.local
.env.production.local

# Arquivos de sistema e editores
.DS_Store
.vscode/
.idea/
node_modules/
